<template>
  <div class="cart-item">
    <div class="cart-item__top">
      <img
        :src="item.image"
        :alt="item.description"
        class="cart-item__thumbnail"
      />
      <section class="cart-item__description">
        <h1 class="cart-item__name">{{ item.title }}</h1>
        <p class="cart-item__price">${{ item.price }}</p>
      </section>
      <span class="cart-item__remove-btn" @click="removeCartItem(item)"
        >&times;</span
      >
    </div>
    <div class="cart-item__bottom">
      <section class="cart-item__counter-select">
        <button
          class="cart-item__decrement"
          @click="decrementCount(item)"
          :disabled="disableButton"
        >
          -
        </button>
        <input
          type="text"
          v-model="item.count"
          class="cart-item__counter-field"
        />
        <button class="cart-item__increment" @click="incrementCount(item)">
          +
        </button>
      </section>
      <p class="cart-item__total">${{ displayTotalPrice }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from "vue";
import { IProduct } from "../../store/modules/product/types";

export default defineComponent({
  props: {
    cartItem: { type: Object, required: true },
  },
  setup(props, { emit }) {
    const item = computed({
      get: () => props.cartItem,
      set: (val) => emit("modify-item", val),
    });

    const incrementCount = (prop: IProduct) => prop.count++;
    const decrementCount = (prop: IProduct) => prop.count > 1 && prop.count--;

    watch(item.value, () => {
      if (!Number(item.value.count)) item.value.count = 1;
    });

    const displayTotalPrice = computed(() => {
      return (item.value.price * item.value.count).toFixed(2);
    });

    const disableButton = computed(() => {
      return item.value.count == 1;
    });

    const removeCartItem = (product: IProduct) =>
      emit("remove-cart-item", product);

    return {
      item,
      displayTotalPrice,
      incrementCount,
      decrementCount,
      disableButton,
      removeCartItem,
    };
  },
});
</script>

<style lang="scss" scoped>
.cart-item {
  $root: &;

  width: 100%;
  position: relative;

  &:not(:first-child) {
    margin: 1.5em 0 30px;
    padding: 2em 0 0;
    border-top: 1px solid #eee;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
  &__remove-btn {
    font-size: 1.4em;
    cursor: pointer;
    line-height: 15px;
  }
  &__thumbnail {
    width: 80px;
  }
  &__description {
    margin-right: auto;
  }
  &__name {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 0 5px;
  }
  &__price {
    font-weight: 500;
    font-size: 1em;
  }
  &__bottom {
    display: flex;
    width: 80%;
    margin: 1em 0 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  &__counter-select {
    width: 90px;
    display: flex;
    border: 1px solid #eee;
  }
  &__increment,
  &__decrement,
  &__counter-field {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 1.5em;
    line-height: 30px;
    outline: none;
    text-align: center;
    &:not(#{$root}__counter-field) {
      cursor: pointer;
    }
    &:disabled {
      background-color: #eee;
      cursor: default;
    }
  }
  &__counter-field {
    font-size: 1em;
  }
}
</style>
