<template>
  <aside class="cart-menu" :class="setOpen">
    <header class="cart-menu__top">
      <span class="cart-menu__count">Cart ({{ numberOfItems }})</span>
      <app-close-button class="primary" @handleClick="closeCartMenu" />
    </header>
    <main class="cart-menu__content">
      <span class="cart-menu__feedback" v-if="!numberOfItems"
        >Your cart is empty</span
      >
      <app-cart-item
        v-else
        v-for="cartItem in cartItems"
        :key="cartItem.id"
        :cartItem="cartItem"
        @modify-item="cartItem = $event"
        @remove-cart-item="removeCartItem"
      />
    </main>
    <footer class="cart-menu__bottom">
      <app-close-button
        class="secondary"
        @handleClick="closeCartMenu"
        v-if="!numberOfItems"
        label="Close"
      />
      <div class="cart-menu__checkout" v-else>
        <div class="cart-menu__details">
          <p class="cart-menu__details-text">Subtotal</p>
          <p class="cart-menu__details-text">${{ cartTotal }}</p>
          <p class="cart-menu__details-text">Shipping</p>
          <p class="cart-menu__details-text bold">Free shipping</p>
          <p class="cart-menu__details-text bold lg">Total</p>
          <p class="cart-menu__details-text bold lg">${{ cartTotal }}</p>
        </div>
        <button class="cart-menu__checkout-btn">Checkout</button>
      </div>
    </footer>
  </aside>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import { useStore } from "vuex";
import { IProduct } from "../../store/modules/product/types";
import AppCloseButton from "../atoms/AppCloseButton.vue";
import AppCartItem from "./AppCartItem.vue";

export default defineComponent({
  components: { AppCartItem, AppCloseButton },
  name: "AppCartMenu",
  setup() {
    const store = useStore();
    const setOpen = computed(() => {
      return store.getters["cart/checkCartOpen"] && "cart-menu--open";
    });

    const cartItems = computed(() => store.state.cart.cartItems);

    const numberOfItems = computed(
      () => store.getters["cart/displayCartItems"]
    );

    const cartTotal = computed(() =>
      store.getters["cart/displayCartTotal"].toFixed(2)
    );

    const removeCartItem = (product: IProduct) => {
      store.getters["cart/filterCartItems"](product);
    };

    const closeCartMenu = () => {
      if (store.getters["cart/checkCartOpen"])
        return store.commit("cart/TOGGLE_CART");
      return;
    };

    return {
      setOpen,
      closeCartMenu,
      numberOfItems,
      cartItems,
      cartTotal,
      removeCartItem,
    };
  },
});
</script>

<style lang="scss" scoped>
.cart-menu {
  position: fixed;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 100%;
  background-color: $theme-white;
  box-shadow: 0 5px 8px rgba(#000, 0.1);
  transition: all 0.15s ease-in-out;
  transform: translateX(100%);

  &--open {
    transform: translateX(0);
  }

  @include md() {
    max-width: 450px;
  }

  &__top {
    height: 60px;
    padding: 0 1em;
    background-color: $theme-dark-green;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__count {
    color: $theme-white;
    font-size: 1.3em;
    font-weight: 600;
  }

  &__content {
    padding: 1em;
    height: calc(100% - 230px);
    overflow-y: auto;
  }

  &__feedback {
    @include calign;
    font-size: 1.2em;
    font-weight: 600;
  }

  &__bottom {
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }

  &__checkout {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    width: 100%;
    background-color: #eee;
  }

  &__details {
    display: grid;
    margin: 0 0 1em;
    grid-template-columns: repeat(2, 1fr);

    &-text {
      font-size: 0.9em;
      line-height: 1.8;

      &:nth-child(odd) {
        text-align: left;
      }
      &:nth-child(even) {
        text-align: right;
      }

      &.bold {
        font-weight: 500;
      }

      &.lg {
        font-size: 1.2em;
        line-height: 2.5;
      }
    }
  }

  &__checkout-btn {
    width: 100%;
    height: 50px;
    background-color: $theme-dark-green;
    outline: none;
    cursor: pointer;
    border: none;
    color: $theme-white;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
  }
}
</style>
