<template>
  <div
    class="app-feedback"
    :class="[modifyClass, positioning]"
    :style="modifyStyles"
  >
    <span class="app-feedback__message">{{ message }}</span>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from "vue";

export default defineComponent({
  props: {
    isVisible: { type: Boolean, default: false },
    message: { type: String, required: true },
    bgColor: { type: String, default: "#222" },
    topRight: { type: Boolean, default: false },
  },
  setup(props, { emit }) {
    const modifyClass = computed(() => {
      return props.isVisible && "app-feedback--show";
    });

    const positioning = computed(() => {
      return props.topRight && "app-feedback--topRight";
    });

    const modifyStyles = computed(() => {
      return { background: props.bgColor };
    });

    const propIsVisible = computed({
      get: () => props.isVisible,
      set: (val) => emit("modify-prop", val),
    });

    watch(propIsVisible, () => {
      if (propIsVisible.value) {
        setTimeout(() => {
          propIsVisible.value = !propIsVisible.value;
        }, 5000);
      }
    });

    return { modifyClass, modifyStyles, positioning };
  },
});
</script>

<style lang="scss" scoped>
.app-feedback {
  background-color: #222;
  color: $theme-white;
  border-radius: 3px;
  visibility: hidden;
  padding: 1em;
  font-size: 0.9em;
  position: fixed;
  width: 90%;
  opacity: 0;
  line-height: 2;
  bottom: 2em;
  left: 50%;
  text-align: center;
  letter-spacing: 0.03em;
  transition: all 0.2s ease;
  transform: translate(-50%, 0);
  box-shadow: 0px 10px 13px -7px #000, 0px 8px 5px -3px rgba(#000, 0.1);

  @include lg() {
    width: auto;

    &--topRight {
      left: unset;
      bottom: unset;
      right: 1em;
      top: 8em;
      height: 50px;
      line-height: 50px;
      text-align: left;
      padding: 0 1em;
      transform: translate(0, 0);
    }
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }
}
</style>
