<template>
  <form class="form" @submit.prevent="handleSubmit">
    <h1 class="form__heading" v-if="heading">{{ heading }}</h1>
    <slot />
  </form>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    heading: {
      type: String,
      default: null,
    },
    error: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const handleSubmit = () => emit("handle-submit");
    return { handleSubmit };
  },
});
</script>
