<template>
  <ul class="links">
    <li class="links__item" v-for="link in links" :key="link.label">
      <router-link class="links__link" :to="{ name: link.name }">{{
        link.label
      }}</router-link>
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    const links = [
      { label: "Our products", name: "Products" },
      { label: "Terms of service", name: "Terms" },
    ];
    return { links };
  },
});
</script>

<style scoped></style>
