<template>
  <div class="product-item">
    <img
      :src="product.image"
      :alt="product.description"
      class="product-item__image"
    />
    <p class="product-item__title">{{ product.title }}</p>
    <p class="product-item__price">${{ product.price }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "AppProductItem",
  props: {
    product: { type: Object, required: true },
  },
  setup() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.product-item {
  cursor: pointer;
  &__image {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: contain;
  }

  &__title,
  &__price {
    font-weight: 500;
    font-size: 1em;
    margin: 1em 0;
  }
}
</style>
