<template>
  <div class="app-products">
    <the-app-header title="Our products" />
    <article class="app-products__content">
      <section class="app-products__details">
        <span class="app-products__count">{{ products.length }} products</span>
        <div class="app-products__filter">
          <span class="app-products__filter-description">Sort after:</span>
          <select v-model="selected" class="app-products__dropdown">
            <option
              v-for="option in options"
              :key="option.value"
              :value="option.value"
              >{{ option.label }}</option
            >
          </select>
        </div>
      </section>
      <section class="app-products__list">
        <app-product-item
          v-for="product in filterProducts"
          :key="product.id"
          :product="product"
          @click="showProductDetails(product)"
        />
      </section>
    </article>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, reactive, ref } from "vue";
import { useRouter } from "vue-router";
import TheAppHeader from "../organisms/TheAppHeader.vue";
import AppProductItem from "./AppProductItem.vue";
import { IProduct } from "../../store/modules/product/types";

export default defineComponent({
  components: { TheAppHeader, AppProductItem },
  name: "AppProducts",
  props: {
    products: {
      type: Array as PropType<IProduct[]>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const router = useRouter();

    const selected = ref("A");

    const options = reactive([
      { label: "A - z", value: "A" },
      { label: "Lowest price", value: "B" },
      { label: "Highest price", value: "C" },
    ]);

    const showProductDetails = (product: IProduct) => {
      router.push({
        name: "Product",
        params: {
          id: product.id,
          title: product.title,
        },
      });
    };

    const items = computed({
      get: () => props.products,
      set: (val) => {
        return emit("modify-products", val);
      },
    });

    const filterProducts = computed(() => {
      const sortByLetter = [...items.value].sort((a, b) =>
        a.title.localeCompare(b.title)
      );
      const sortByLowestPrice = [...items.value].sort(
        (a, b) => a.price.valueOf() - b.price.valueOf()
      );
      const sortByHighestPrice = [...items.value].sort(
        (a, b) => b.price.valueOf() - a.price.valueOf()
      );
      return (
        (selected.value === "A" && sortByLetter) ||
        (selected.value === "B" && sortByLowestPrice) ||
        (selected.value === "C" && sortByHighestPrice)
      );
    });

    return { showProductDetails, filterProducts, options, selected };
  },
});
</script>

<style lang="scss" scoped>
.app-products {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  &__content {
    padding: 0 1em;
  }
  &__details {
    margin: 2em 0;
    display: flex;
    /* padding: 1em; */
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  &__list {
    gap: 5em;
    display: grid;

    @include md() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg() {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__filter {
    display: flex;
    margin: 2em 0 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @include md() {
      margin: 1em 0 0;
      justify-content: flex-end;
    }

    &-description {
      flex: 1;
      font-weight: 600;
      font-size: 0.9em;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @include md() {
        flex: 0 0 100px;
        margin: 0 1em 0 0;
      }
    }
  }

  &__dropdown {
    height: 40px;
    flex: 1;
    padding: 0 1em;
    font-size: 0.8em;
    outline: none;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    &:focus {
      border-color: #666;
    }

    @include md() {
      flex: unset;
      width: 200px;
    }
  }
}
</style>
