<template>
  <section class="product">
    <img
      :src="product.image"
      :alt="product.description"
      class="product__image"
    />
    <section class="product__details">
      <h1 class="product__title">{{ product.title }}</h1>
      <p class="product__description">{{ product.description }}</p>
      <p class="product__price">${{ product.price }}</p>
      <button class="product__purchase" @click="handleClick" v-if="buttonLabel">
        {{ buttonLabel }}
      </button>
    </section>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    product: { type: Object, required: true },
    buttonLabel: { type: String, default: null },
  },
  setup(props, { emit }) {
    const handleClick = () => emit("handle-click");
    return { handleClick };
  },
});
</script>

<style lang="scss" scoped>
.product {
  display: flex;
  width: 100%;
  padding: 0 1em;
  max-width: 990px;
  margin: 0 0 2em;
  flex-direction: column;

  @include lg() {
    gap: 4em;
    padding: 0;
    margin: 4em auto 2em;
    flex-direction: row;
    justify-content: space-around;
  }

  &__image {
    width: 200px;
    align-self: flex-start;
    object-fit: contain;
    margin: 2em auto;

    @include lg() {
      margin: unset;
      width: 30%;
    }
  }

  &__details {
    width: 100%;
    max-width: 600px;
    text-align: left;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  &__title {
    font-weight: 600;
    font-size: clamp(1.2em, 3vw, 1.5em);
  }

  &__description {
    margin: 1em 0;
    font-size: 0.9em;
    line-height: 1.5;
  }

  &__price {
    font-weight: 700;
    font-size: 0.9em;
  }

  &__purchase {
    margin: 2em auto 0;
    width: 200px;
    height: 50px;
    color: $theme-white;
    background-color: $theme-dark-green;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1em;

    @include lg() {
      margin: auto 0 0;
    }
  }
}
</style>
