<template>
  <div class="container">
    <the-app-bar />
    <app-overlay />
    <app-cart-menu />
    <app-spinner />
    <the-app-side-bar />
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import AppSpinner from "./components/atoms/AppSpinner.vue";
import AppCartMenu from "./components/molecules/AppCartMenu.vue";
import AppOverlay from "./components/atoms/AppOverlay.vue";
import TheAppBar from "./components/organisms/TheAppBar.vue";
import TheAppSideBar from "./components/organisms/TheAppSideBar.vue";

export default defineComponent({
  components: { TheAppBar, AppCartMenu, AppSpinner, AppOverlay, TheAppSideBar },
  name: "App",
});
</script>
