<template>
  <div>
    <app-form heading="Log in below" @handleSubmit="loginUser">
      <div class="form__row">
        <label class="form__label">Your e-mail</label>
        <input
          type="email"
          v-model="email"
          placeholder="john.doe@example.com"
          class="form__field"
        />
      </div>
      <div class="form__row">
        <label class="form__label">Your password</label>
        <input type="password" class="form__field" v-model="password" />
      </div>
      <div class="form__row">
        <button class="form__submit-btn">Log in</button>
      </div>
      <div class="form__row form__row--row">
        <p class="form__link">
          Don't have an account yet?
          <router-link :to="{ name: 'Signup' }">Sign up here!</router-link>
        </p>
      </div>
    </app-form>
    <app-feedback
      :isVisible="error"
      message="Missing required field(s)"
      @modifyProp="error = $event"
      bgColor="#DF2E2E"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, toRefs } from "vue";
import { useStore } from "vuex";
import AppFeedback from "../../../components/molecules/AppFeedback.vue";
import AppForm from "../../../components/molecules/AppForm.vue";

export default defineComponent({
  components: { AppForm, AppFeedback },
  name: "Login",
  setup() {
    const store = useStore();
    const error = ref(false);
    const initialValues = {
      email: "",
      password: "",
    };

    const credentials = reactive({ ...initialValues });

    const loginUser = () => {
      if (Object.values(credentials).every((input) => input === ""))
        return handleError();
      console.log(credentials);
      store.dispatch("auth/loginUser", credentials);
      Object.assign(credentials, initialValues);
    };

    const handleError = () => {
      error.value = true;
    };

    return { ...toRefs(credentials), loginUser, error };
  },
});
</script>

<style scoped></style>
