<template>
  <div>
    <app-form heading="Sign up below" @handleSubmit="createUser">
      <div class="form__row form__row--row">
        <div class="form__col">
          <label class="form__label">Your first name</label>
          <input
            type="text"
            placeholder="John"
            v-model="firstName"
            class="form__field"
          />
        </div>
        <div class="form__col">
          <label class="form__label">Your last name</label>
          <input
            type="text"
            placeholder="Doe"
            v-model="lastName"
            class="form__field"
          />
        </div>
      </div>
      <div class="form__row">
        <label class="form__label">Your e-mail</label>
        <input
          type="email"
          v-model="email"
          placeholder="john.doe@gmail.com"
          class="form__field"
        />
      </div>
      <div class="form__row form__row--row">
        <div class="form__col">
          <label class="form__label">Choose a password</label>
          <input
            type="password"
            class="form__field"
            v-model="password"
            min="6"
          />
        </div>
        <div class="form__col">
          <label class="form__label">Confirm password</label>
          <input
            type="password"
            class="form__field"
            v-model="confirmPassword"
          />
        </div>
      </div>
      <div class="form__row">
        <button class="form__submit-btn">Create</button>
      </div>
      <div class="form__row form__row--row">
        <p class="form__link">
          Already have an account?
          <router-link :to="{ name: 'Login' }">Log in here!</router-link>
        </p>
      </div>
    </app-form>
    <app-feedback
      :isVisible="error"
      message="Missing required field(s)"
      @modifyProp="error = $event"
      bgColor="#DF2E2E"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, toRefs } from "vue";
import { useStore } from "vuex";
import AppFeedback from "../../../components/molecules/AppFeedback.vue";
import AppForm from "../../../components/molecules/AppForm.vue";

export default defineComponent({
  components: { AppForm, AppFeedback },
  name: "Signup",
  setup() {
    const store = useStore();
    const error = ref(false);
    const initialValues = {
      firstName: "",
      lastName: "",
      email: "",
      password: "",
      confirmPassword: "",
    };

    const credentials = reactive({ ...initialValues });

    const createUser = () => {
      if (Object.values(credentials).every((input) => input === ""))
        return handleError();
      store
        .dispatch("auth/createUser", credentials)
        .then(() => Object.assign(credentials, initialValues));
    };

    const handleError = () => {
      error.value = true;
    };

    return { ...toRefs(credentials), createUser, error };
  },
});
</script>

<style scoped></style>
