<template>
  <div class="app-close-button" @click="handleClick">
    &times;
    <span v-if="label">{{ label }}</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    label: {
      type: String,
      default: null,
    },
  },
  setup(props, { emit }) {
    const handleClick = () => {
      emit("handle-click");
    };
    return { handleClick };
  },
});
</script>

<style lang="scss" scoped>
.app-close-button {
  font-size: 1.5em;
  border: none;
  cursor: pointer;

  &.primary {
    background-color: $theme-white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
  }

  &.secondary {
    min-width: 100%;
    min-height: 100%;
    background-color: transparent;
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-content: center;

    span {
      font-size: 0.6em;
      text-transform: uppercase;
    }
  }
}
</style>
