<template>
  <div class="app-overlay" :class="modifyClass" @click="closeOverlay"></div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  setup() {
    const store = useStore();
    const cartMenuOpen = computed(() => store.state.cart.cartOpen);
    const sidebarOpen = computed(() => store.state.sidebar.sidebarOpen);
    const modifyClass = computed(() => {
      return (
        (cartMenuOpen.value && "app-overlay--show") ||
        (sidebarOpen.value && "app-overlay--show only-mobile")
      );
    });
    const closeOverlay = () => {
      if (sidebarOpen.value) return store.commit("sidebar/TOGGLE_SIDEBAR");
      store.commit("cart/TOGGLE_CART");
    };
    return { modifyClass, closeOverlay };
  },
});
</script>

<style lang="scss" scoped>
.app-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #5557;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

  &--show {
    opacity: 1;
    visibility: visible;
  }
}
</style>
