<template>
  <div class="app-spinner" :class="modifyClass">
    <div class="app-spinner__inner"></div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  setup() {
    const store = useStore();
    const enabled = computed(() => store.state.spinner.enabled);

    const modifyClass = computed(() => {
      return enabled.value && "app-spinner--spin";
    });
    return { modifyClass };
  },
});
</script>

<style lang="scss" scoped>
.app-spinner {
  width: 35px;
  height: 35px;
  position: fixed;
  top: 5em;
  left: 50%;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: $theme-dark-green;
  box-shadow: 0 3px 5px 2px rgba(#000, 0.2);
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  transform: translate(-50%, 5px);

  &--spin {
    transition: all 0.2s ease;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }

  @include lg() {
    top: 8em;
  }

  &__inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
    border-color: transparent $theme-white $theme-white $theme-white;
    animation: spin 0.5s infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
</style>
