<template>
  <div class="cart" @click="openCartMenu" :class="modifyClass">
    <span class="lnr lnr-cart cart__icon"></span>
    <span class="cart__price">${{ totalPrice }}</span>
    <span class="cart__counter">{{ numberOfItems }}</span>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch, ref, onMounted } from "vue";
import { useStore } from "vuex";
import { IProduct } from "../../store/modules/product/types";
import { getDataStorage, setDataStorage } from "../../helpers/useStorage";

export default defineComponent({
  setup() {
    const store = useStore();
    const products = computed(() => store.state.cart.cartItems);

    onMounted(() => {
      const data = getDataStorage("e-commerce-products");
      if (data) store.commit("cart/SET_RECENT_CART", data);
    });

    const openCartMenu = () => {
      const cartOpen = store.getters["cart/checkCartOpen"];
      if (!cartOpen) return store.commit("cart/TOGGLE_CART");
      return;
    };

    const numberOfItems = computed(
      () => store.getters["cart/displayCartItems"]
    );

    watch((products.value, numberOfItems), () =>
      setDataStorage("e-commerce-products", products.value)
    );

    const totalPrice = computed(() =>
      store.getters["cart/displayCartTotal"].toFixed(2)
    );

    const modifyClass = computed(() => {
      return numberOfItems.value && "cart--show";
    });

    return { openCartMenu, numberOfItems, modifyClass, totalPrice };
  },
});
</script>

<style lang="scss" scoped>
.cart {
  $root: &;
  padding: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;

  &--show {
    #{$root}__counter {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
      box-shadow: 0 5px 5px rgba(#000, 0.3);
    }

    @include md() {
      #{$root}__price {
        left: 3.5em;
        transform: translate(0, -50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @include md() {
    margin: 0 4em 0 0;
    :not(&--show) {
      margin: 0;
    }

    #{$root}__price {
      display: block;
    }
  }

  &__icon {
    font-size: 1.8em;
    color: $theme-white;
  }

  &__counter {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #222;
    color: $theme-white;
    position: absolute;
    top: -7px;
    right: -10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }

  &__price {
    position: absolute;
    top: 50%;
    color: $theme-white;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    display: none;
    transform: translate(20px, -50%);
    transition: all 0.2s ease-in-out 0.2s;
  }
}
</style>
