<template>
  <div class="hamburger-icon" @click="openSidebar">
    <div />
    <div />
    <div />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  setup() {
    const store = useStore();
    const openSidebar = () => store.dispatch("sidebar/toggleSidebar");
    return { openSidebar };
  },
});
</script>

<style lang="scss" scoped>
.hamburger-icon {
  padding: 5px;
  cursor: pointer;

  div {
    width: 24px;
    height: 2px;
    margin: 4px 0;
    background-color: $theme-white;
  }
}
</style>
