<template>
  <div class="container__content">
    <the-app-header title="Browse through thousands of products!" textCenter>
      <app-showcase
        :product="modifiedProduct"
        v-if="product"
        @handleClick="showProducts"
        buttonLabel="View products"
      />
    </the-app-header>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import TheAppHeader from "../components/organisms/TheAppHeader.vue";
import { useStore } from "vuex";
import { shortenText } from "../helpers/useShortenText";
import { useRouter } from "vue-router";
import AppShowcase from "../components/molecules/AppShowcase.vue";
export default defineComponent({
  name: "Home",
  components: {
    TheAppHeader,
    AppShowcase,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const product = computed(() => store.state.product.product);

    const modifiedProduct = computed(() => {
      const shortenDescription = shortenText(product.value.description, 200);
      return Object.assign(
        { ...product.value },
        { description: shortenDescription }
      );
    });

    const showProducts = () => router.push({ name: "Products" });
    return { product, showProducts, modifiedProduct };
  },
});
</script>

<style lang="scss" scoped></style>
