<template>
  <main class="container__content" v-if="product">
    <app-showcase
      :product="product"
      buttonLabel="Add to cart"
      @handle-click="addToCart(product)"
    />
    <app-feedback
      :isVisible="isActive"
      @modify-prop="isActive = $event"
      :message="message"
      topRight
    />
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore } from "vuex";
import AppFeedback from "../components/molecules/AppFeedback.vue";
import AppShowcase from "../components/molecules/AppShowcase.vue";
import { IProduct } from "../store/modules/product/types";

export default defineComponent({
  components: { AppShowcase, AppFeedback },
  name: "Product",
  props: {
    product: { type: Object, required: true },
  },
  setup() {
    const store = useStore();
    const isActive = ref(false);
    const addToCart = (product: IProduct) => {
      isActive.value = true;
      store.dispatch("cart/addToCart", product);
    };

    const message = "Your product has been added to the shopping cart";

    return { addToCart, isActive, message };
  },
});
</script>

<style lang="scss" scoped></style>
