<template>
  <main class="container__content">
    <app-products
      :products="products"
      @modify-products="$route.params.products = $event"
    />
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { onBeforeRouteUpdate } from "vue-router";
import { useStore } from "vuex";
import AppProducts from "../components/molecules/AppProducts.vue";

export default defineComponent({
  components: { AppProducts },
  name: "Products",
  props: {
    products: { type: Array, required: true },
  },
  setup() {
    const store = useStore();
    onBeforeRouteUpdate((to, from, next) => {
      store.dispatch("products/getAllProducts").then((data) => {
        to.params.products = data;
        next();
      });
    });
  },
});
</script>

<style scoped></style>
