<template>
  <main class="container__content">
    <h1>Vue</h1>
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Terms",
  setup() {
    return {};
  },
});
</script>

<style scoped></style>
