.form {
  @include calign;
  width: 100%;
  margin: auto;
  padding: 0 1em;
  max-width: 600px;

  &__heading {
    font-size: 1.6em;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__row {
    gap: 0 0.3em;
    display: flex;
    margin: 1em 0 0;
    flex-direction: column;

    &--row {
      flex-direction: row;
    }
  }

  &__col {
    flex: 1;
  }

  &__label {
    display: block;
    margin: 0 0 0.2em;
    font-size: 0.9em;
  }

  &__field,
  &__submit-btn {
    width: 100%;
    height: 50px;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  &__submit-btn {
    color: $theme-white;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: $theme-dark-green;

    @include lg() {
      width: 200px;
    }
  }

  &__link {
    margin: 1em auto 0;
    a {
      color: #222;
    }
  }

  &__error {
    padding: 5px;
    background-color: #ff2626;
    color: $theme-white;
  }
}
