<template>
  <header class="app-header" :class="modifyClass">
    <h1 class="app-header__title" v-if="title">{{ title }}</h1>
    <slot />
  </header>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";

export default defineComponent({
  props: {
    title: {
      type: String,
      default: null,
    },
    textCenter: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const modifyClass = computed(() => {
      return props.textCenter && "app-header--textCenter";
    });
    return { modifyClass };
  },
});
</script>

<style lang="scss" scoped>
.app-header {
  margin: 4em 0 0;
  padding: 0 1em;

  &__title {
    font-weight: 400;
    font-size: clamp(1.6em, 4vw, 2.5em);
  }

  &--textCenter {
    text-align: center;
  }
}
</style>
