<template>
  <nav class="app-bar">
    <section class="app-bar__top">
      <hamburger-icon class="app-bar__hamburger-icon only-mobile" />
      <router-link to="/" class="app-bar__link">E-commerce</router-link>
      <cart-icon class="app-bar__cart-icon" />
    </section>
    <section class="app-bar__bottom only-computer">
      <app-nav-links class="app-bar__nav-links" />
    </section>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CartIcon from "../atoms/CartIcon.vue";
import HamburgerIcon from "../atoms/HamburgerIcon.vue";
import AppNavLinks from "../molecules/AppNavLinks.vue";

export default defineComponent({
  components: { AppNavLinks, CartIcon, HamburgerIcon },
  name: "TheAppBar",
  setup() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.app-bar {
  width: 100%;
  padding: 1em;
  background-color: $theme-dark-green;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__hamburger-icon {
    @include calign;
    left: 2em;
  }

  &__top {
    width: 100%;
    position: relative;
    text-align: center;
  }

  &__link {
    font-family: $army;
    color: $theme-white;
    font-weight: 400;
    text-decoration: none;
    font-size: clamp(1.2em, 3vw, 2em);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: auto;
    flex: 1;
  }

  &__cart-icon {
    @include calign;
    right: 0;
    left: unset;
  }

  &__bottom {
    margin: 10px 0 0;
  }

  &__nav-links {
    display: flex;
    list-style: none;
    gap: 2em;
    /deep/ {
      a {
        color: $theme-white;
        text-decoration: none;
        font-weight: 400;
        letter-spacing: 0.02em;
      }
    }
  }
}
</style>
