<template>
  <aside class="app-sidebar only-mobile" :class="modifyClass">
    <header class="app-sidebar__top">
      <h1 class="app-sidebar__heading">E-commerce</h1>
      <app-close-button class="primary" @handleClick="closeSidebar" />
    </header>
    <main class="app-sidebar__content">
      <app-nav-links
        class="app-sidebar__nav-links"
        @handleClick="closeSidebar"
      />
      <ul class="app-sidebar__user-links">
        <li
          class="app-sidebar__link-item"
          v-for="link in links"
          :key="link.label"
        >
          <router-link :to="{ name: link.name }" @click="closeSidebar">
            {{ link.label }}</router-link
          >
          <span v-if="link.subTitle">(0)</span>
        </li>
      </ul>
    </main>
  </aside>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import AppCloseButton from "../atoms/AppCloseButton.vue";
import AppNavLinks from "../molecules/AppNavLinks.vue";

export default defineComponent({
  components: {
    AppNavLinks,
    AppCloseButton,
  },
  setup() {
    const store = useStore();
    const route = useRoute();
    const links = [
      { label: "Log in/Create account", name: "Signup" },
      { label: "My favorites", name: "Favorites", subTitle: true },
    ];
    const closeSidebar = () => {
      if (store.state.sidebar.sidebarOpen)
        store.dispatch("sidebar/toggleSidebar");
    };

    watch(route, () => {
      closeSidebar();
    });

    const modifyClass = computed(() => {
      return store.state.sidebar.sidebarOpen && "app-sidebar--open";
    });

    return {
      links,
      closeSidebar,
      modifyClass,
    };
  },
});
</script>

<style lang="scss" scoped>
.app-sidebar {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  background-color: $theme-white;
  transform: translateX(-100%);
  transition: all 0.2s ease;

  &--open {
    transform: translateX(0);
  }

  @include md() {
    width: 450px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $theme-dark-green;
    padding: 1em;
  }

  &__heading {
    font-family: $army;
    font-weight: 400;
    color: $theme-white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  &__content {
    display: flex;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav-links {
    /deep/ {
      li {
        padding: 1.5em;
      }
      a {
        font-size: 1.2em;
        color: #222;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }

  &__user-links {
    background-color: #eee9;
    list-style: none;
  }

  &__link-item {
    &:not(:last-child) {
      border-top: 1px solid #ddd7;
    }
    border-bottom: 1px solid #ddd7;
    a {
      padding: 1.3em 0.5em 1.3em 1.3em;
      font-size: 0.9em;
      display: inline-block;
      text-decoration: none;
      color: #000;
    }
  }
}
</style>
